{% extends 'main.html' %} {% block content %}
<!-- Main Section -->
<main class="singleProject my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <h3 class="singleProject__subtitle">Tags</h3>
        <div class="singleProject__toolStack">
          {% for tag in project.tags.all %}
          <span class="tag tag--pill tag--sub tag--lg">
            <small>{{tag.name}}</small>
          </span>
          {% endfor %}
        </div>
        {% if project.source_link %}
        <a
          class="singleProject__liveLink"
          href="{{project.source_link}}"
          target="_blank"
          ><i class="im im-external-link"></i>Source Code
        </a>
        {% endif %} {% if project.demo_link %}
        <a
          class="singleProject__liveLink"
          href="{{project.demo_link}}"
          target="_blank"
          ><i class="im im-external-link"></i>Demo link
        </a>
        {% endif %}
      </div>
      <div class="column column--2of3">
        <img
          class="singleProject__preview"
          src="{{ project.featured_image.url }}"
          alt="portfolio thumbnail"
        />
        <a
          href="{% url 'user-profile' project.owner.id %}"
          class="singleProject__developer"
          >{{ project.owner.username }}</a
        >
        <h2 class="singleProject__title">{{project.title}}</h2>
        <h3 class="singleProject__subtitle">About the Project</h3>
        <div class="singleProject__info">{{project.description}}</div>

        <div class="comments">
          <h3 class="singleProject__subtitle">Feedback</h3>
          <h5 class="project--rating">
            {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}}
            Vote{{project.vote_total|pluralize:"s"}})
          </h5>

          {% if not request.user.profile %}
          <p>
            Usuario no logueado. Por favor
            <a href="{% url 'login' %}?next={{request.path}}"
              >inicia sesión o crear una cuenta</a
            >
            para dejar un comentario
          </p>
          {% elif request.user.profile == project.owner %}
          <p>No puedes votar tu propio proyecto.</p>
          {% elif request.user.profile in already_voters%}
          <p>Ya has votado este proyecto. No puedes volver a votar. Gracias.</p>
          {% else %}
          <form class="form" action="#" method="POST">
            {% csrf_token %} {% for field in form %}
            <!-- Input:Text -->
            <div class="form__field">
              <label for="formInput#text">{{field.label}}</label>
              {{field}}
            </div>
            {% endfor %}
            <input
              class="btn btn--sub btn--lg"
              type="submit"
              value="Comments"
            />
            <!-- Textarea -->
          </form>
          {% endif %}
          <div class="commentList">
            {% for review in reviews %}
            <div class="comment">
              <a href="{% url 'user-profile' review.reviewer.id %}">
                <img
                  class="avatar avatar--md"
                  src="{{review.reviewer.profile_image.url}}"
                  alt="user"
                />
              </a>
              <div class="comment__details">
                <a
                  href="{% url 'user-profile' review.reviewer.id %}"
                  class="comment__author"
                  >{{review.reviewer}}</a
                >
                <p class="comment__info">{{review.body}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
